.notCard{
    display: flex;
    /* height: 150px; */
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: unset !important;
}
.notArea{
    width: 100%;
    background-color: #f7f7f7 !important;
}
.headingn{
    /* padding: 10px; */
    /* height: 50px; */
    position: sticky;
    top:0px;
    padding-top: 10px;
    z-index: 9999;
    background-color: white;
}